h1 {    
    font: italic small-caps 700 2.4em Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    background: #ffa500;
}
    a {
    font: italic small-caps 400 1.2em Arial, Helvetica, sans-serif;
    color: black;
    background-color: chocolate;
    padding: 5px;
    margin: 0;
    text-decoration: none;
    margin: 0;
    align-self:left;
}
menu {
    vertical-align:bottom;
    align-self: left;
}